<div class="container">
    <h3>{{employee.name}} ({{employeeId}})</h3>
    <div class="well">
        <label for="id">Id</label>
        <input type="text" id="id" value="{{employee.id}}"><br>
        <label for="name">Name</label>
        <input type="text" id="name" value="{{employee.name}}"><br>
        <label for="position">Position</label>
        <input type="text" id="position" value="{{employee.position}}"><br>
        <label for="age">Age</label>
        <input type="text" id="age" value="{{employee.age}}"><br>
        <hr>
        <a routerLink='/'>Back</a>
    </div>
</div>